.top_content {
  background-color: blue;
}

.left_content {
  background-color: green;
}

.content {
  background-color: purple;
}

.right_content {
  background-color: orange;
}

.bottom_content {
  background-color: red;
}
