<%inherit file="/homepage/templates/base.htm" />
<%! from catalog import models as cmod %>

<%block name="nav_bar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="${ STATIC_URL }homepage/media/images/music_icon.png" width="30" height="30" alt="">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <!-- <ul class="nav navbar-nav">
        </ul> -->
      </div>
    </div>
  </nav>
</%block>

<%block name="left_content">
  <ul id="category_list">
    <li class="category_nav_item ${ 'active' if active_category == 'Products' else ''}"><a href="/catalog/index/" class="align-middle">All Products</a></li>
    %for cat in cmod.Category.objects.order_by('name'):
      <li class="category_nav_item ${ 'active' if active_category == cat else ''}"><a href="/catalog/index/${ cat.id }">${cat.name}</a></li>
    %endfor
  </ul>
</%block>

<%block name="right_content">
  <h2 id="last_five_title">Recently Viewed:</h2>
  <ol id="last_five_list">
    %for product in request.last_five[1:6]:
      <li>
        <a href="/catalog/detail/${ product.id }/">
          <div class="text-center"><img class="last_five_image" src="${ product.image_url() }" /></div>
          <div class="last_five_name text-center">${ product.name }</div>
        </a>
      </li>
    %endfor
  </ol>
</%block>
