<%inherit file="/homepage/templates/base_ajax.htm" />

<%block name="content">

    <ul id="product_list">
      % for product in products:
      <a href="/catalog/detail/${product.id}">
        <li class="product_tile">
          <span class="label-info product_price">$${ product.price }</span>
          <img src="${ product.image_url() }" class="product_image center-block"/>
          <h4>${ product.name }</h4>
          <p class="text-muted">${ product.__class__.__name__ }</p>
        </li>
      </a>
      % endfor
    </ul>

</%block>
