<%inherit file="app_base.htm" />

<%block name="left_content">
  <ul class="nav" id="category_list">
    <li class="category_nav_item ${ 'active' if str(request.dmp.urlparams[0]) == '0' else '' }">
      <a href="/catalog/index/0">All Products</a>
    </li>
    % for category in categories:
      <li class="category_nav_item ${ 'active' if str(request.dmp.urlparams[0]) == str(category.id) else '' }">
        <a href="/catalog/index/${ category.id }/">${ category.name }</a>
      </li>
    % endfor
  </ul>
</%block>

<%block name="content">
    <div class="content">
        <h1 class="text-center">${ active_category }</h1>
        <div class="pull-right">
          <button type="button" class="btn btn-sm" id="prev_page">
            <span class="glyphicon glyphicon-backward"></span>
          </button>
           Page <span id="page_number">1</span> of <span id="num_pages">_</span>
           <button type="button" class="btn btn-sm" id="next_page">
             <span class="glyphicon glyphicon-forward"></span>
           </button>
        </div>
    </div><br /><br /><br />
    <div id="catalog_container">
      <ul id="catalog"></ul>
    </div>
</%block>
