<%inherit file="app_base.htm" />

<%block name="content">
    <div class="content">
        <h1 class="text-center">${ active_category }</h1>
        <div class="pull-right">
          <button type="button" class="btn btn-sm" id="prev_page">
            <span class="glyphicon glyphicon-backward"></span>
          </button>
           Page <span id="page_number">1</span> of <span id="num_pages">_</span>
           <button type="button" class="btn btn-sm" id="next_page">
             <span class="glyphicon glyphicon-forward"></span>
           </button>
        </div>
    </div><br /><br /><br />
    <div id="catalog_container">
      <ul id="catalog"></ul>
    </div>
</%block>
