<%inherit file="app_base.htm" />

<%block name="content">
    <div class="content">
        <h3>About FOMO</h3>
        <p>
          The Family Oriented Music Organization is a family owned music store that’s been operating in Utah Valley since 1952. FOMO is a store that aims to satisfy the musical needs of musicians and budding musicians in the area.
        </p>
        <h3>Instrument Sales</h3>
        <p>
          We sell new and used instruments with monthly payment plans available for purchases.  We also sell accessories including items such as reeds, harp strings, and rosing. Sheet music is also available to purchase for a large variety of instruments.
        </p>
        <h3>Instrument Rentals</h3>
        <p>
          We also rent out instruments and have a very popular "rent-to-own" option that has made us the preferred instrument rental company for local schools.

          With the rent-to-own program, the first eight months of rent go 100% toward the purchase price if the renter chooses to buy at that point. Any rent beyond the first eight months only counts 50% toward the purchase price.
        </p>
    </div>
</%block>
