<%inherit file="app_base.htm" />

<%block name="top_content">
  <div class="container-fluid no-padding">
    <div class="row">
      <div class="col-md-12 container">
        <img src="${ STATIC_URL }homepage/media/images/fomo_home.jpg" class="img-responsive big_img" />
        <a type="button" class="btn btn-lg centered nav_link">Shop Now</a>
      </div>
    </div>
  </div>
</%block>

<%block name="content">
    <div class="content">
        <h1 class='text-center'>Family Oriented Music Association</h1><br />
        <h4>FOMO is your #1 music store for new and used instruments, instrument rental and accessories, sheet music, venues, and more!</h4>
        <h4>Check out the other pages on our site to learn more, and feel free to contact us with any questions!</h4>
    </div>
</%block>
