<%inherit file="app_base.htm" />

<%block name="top_content">
    <div class="top_content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id ornare arcu odio ut sem nulla pharetra diam. Sit amet luctus venenatis lectus magna fringilla urna porttitor. Tincidunt id aliquet risus feugiat in ante metus. Sit amet consectetur adipiscing elit pellentesque habitant morbi. Dui faucibus in ornare quam viverra orci. Vulputate mi sit amet mauris commodo quis. Cras sed felis eget velit aliquet sagittis id consectetur purus. Risus commodo viverra maecenas accumsan lacus vel facilisis. Amet consectetur adipiscing elit ut aliquam purus sit amet. Dolor sed viverra ipsum nunc.
    </div>
</%block>

<%block name="left_content">
    <div class="left_content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id ornare arcu odio ut sem nulla pharetra diam. Sit amet luctus venenatis lectus magna fringilla urna porttitor. Tincidunt id aliquet risus feugiat in ante metus. Sit amet consectetur adipiscing elit pellentesque habitant morbi. Dui faucibus in ornare quam viverra orci. Vulputate mi sit amet mauris commodo quis. Cras sed felis eget velit aliquet sagittis id consectetur purus. Risus commodo viverra maecenas accumsan lacus vel facilisis. Amet consectetur adipiscing elit ut aliquam purus sit amet. Dolor sed viverra ipsum nunc.
    </div>
</%block>

<%block name="content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id ornare arcu odio ut sem nulla pharetra diam. Sit amet luctus venenatis lectus magna fringilla urna porttitor. Tincidunt id aliquet risus feugiat in ante metus. Sit amet consectetur adipiscing elit pellentesque habitant morbi. Dui faucibus in ornare quam viverra orci. Vulputate mi sit amet mauris commodo quis. Cras sed felis eget velit aliquet sagittis id consectetur purus. Risus commodo viverra maecenas accumsan lacus vel facilisis. Amet consectetur adipiscing elit ut aliquam purus sit amet. Dolor sed viverra ipsum nunc.
    </div>
</%block>

<%block name="right_content">
    <div class="right_content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id ornare arcu odio ut sem nulla pharetra diam. Sit amet luctus venenatis lectus magna fringilla urna porttitor. Tincidunt id aliquet risus feugiat in ante metus. Sit amet consectetur adipiscing elit pellentesque habitant morbi. Dui faucibus in ornare quam viverra orci. Vulputate mi sit amet mauris commodo quis. Cras sed felis eget velit aliquet sagittis id consectetur purus. Risus commodo viverra maecenas accumsan lacus vel facilisis. Amet consectetur adipiscing elit ut aliquam purus sit amet. Dolor sed viverra ipsum nunc.
    </div>
</%block>

<%block name="bottom_content">
    <div class="bottom_content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id ornare arcu odio ut sem nulla pharetra diam. Sit amet luctus venenatis lectus magna fringilla urna porttitor. Tincidunt id aliquet risus feugiat in ante metus. Sit amet consectetur adipiscing elit pellentesque habitant morbi. Dui faucibus in ornare quam viverra orci. Vulputate mi sit amet mauris commodo quis. Cras sed felis eget velit aliquet sagittis id consectetur purus. Risus commodo viverra maecenas accumsan lacus vel facilisis. Amet consectetur adipiscing elit ut aliquam purus sit amet. Dolor sed viverra ipsum nunc.
    </div>
</%block>
